@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Light mode (default) */
  :root {
    --background: 255 255 255;
    --foreground: 23 23 23;
  }

  /* Dark mode */
  .dark {
    --background: 0 0 0;
    --foreground: 237 237 237;
  }

  body {
    color: rgb(var(--foreground));
    background: rgb(var(--background));
  }
}